//use only spaces for indentation: each indent should be 4 spaces.
//or only tabs for indentation.
extends layout
block content
	script.
		$('#navhome').removeClass('active');
		$('#navclients').addClass('active');
		$('#navvisits').removeClass('active');	
		$('#navreports').removeClass('active');
		
	div.container.well.well-lg
		div.content
			- var clientname = cl.firstname + ' ' + cl.lastname;
			div.row
				div.col-sm-3
					h4 VISITS: #{clientname}
				div.col-sm-9
					a.btn.btn-primary.btn-md.pull-right(id=cl._id,  href="/products/#{cl._id}" data-toggle="tooltip" data-placement="bottom" title="Products for " + clientname)
						span.glyphicon.glyphicon-shopping-cart
			each event, i in events
				- var eventcomments = event.comments.replace(/\n/g, '<br>');
				- var d = event.start_date;				
				div.panel-group
					div.panel.panel-default
						div.panel-heading
							div.container
								div.row												
									div.col-sm-3 #{event.start_date.toLocaleDateString()}
									div.col-sm-2 #{event.text}
									div.col-sm-4(style="overflow: auto;") !{eventcomments}	
									div.col-sm-1
										a.btn.btn-primary.btn-md.pull-right.hidden(id=event._id,  href="/event/#{event._id}" data-toggle="tooltip" data-placement="bottom" title="Edit Visit")		
												span.glyphicon.glyphicon-edit					
									div.col-sm-1
										button.showservices.btn.btn-primary.btn-md(id=event._id data-toggle="tooltip" data-placement="bottom" title="Show Visit Details")
											span.glyphicon.glyphicon-list									
							br/						
							div.panel-collapse.collapse(event=event._id)	
								div.container.well(style="position: relative; left: 10%; width: 70%;")	
									div.panel-body																
										div(eventresult=event._id)
