extends layout
block content
	script.
		$('#navhome').removeClass('active');
		$('#navclients').addClass('active');
		$('#navvisits').removeClass('active');	
		//alert("#{event.clientid}" );			
		GetClientName("#{event.clientid}");			
	div.container.well.well-sm
		div.content			
			h4 
				div.container.well.well-sm(style="width:100%;")
					- var date = event.start_date.toLocaleDateString();	
					- var year = event.start_date.getFullYear();
					- var month = event.start_date.getMonth() + 1;
					- var day = event.start_date.getDate();
					- var calendardate = year + "," + month + "," + day;
					- var eventcomments = event.comments.replace(/\n/g, '<br>');					
					div.row
						div.col-sm-3
							h3(id="clientname")	
						div.col-sm-1.col-sm-offset-7												
							a#list.btn.btn-primary.btn-md.pull-right(href="/_client/#{event.clientid}/events" data-toggle="tooltip" data-placement="bottom" title="Back to Client Visits" disabled="disabled")
									span.glyphicon.glyphicon-list							
						div.col-sm-1
							a.btn.btn-primary.btn-md.pull-right(href="/calendar/#{calendardate}" data-toggle="tooltip" data-placement="bottom" title="Back to Calendar")
								span.glyphicon.glyphicon-calendar
					br/		
					div.row
						div.col-sm-3 #{date}
						div.col-sm-3 #{event.text}
						div.col-sm-5(style="overflow: auto;") !{eventcomments}
						div.col-sm-1
							button.editevent.btn.btn-primary.btn-md.pull-right(id=event._id, onclick='EditEvent("#{event.clientid}");' data-toggle="tooltip" data-placement="bottom" title="Edit Visit Details")
								span.glyphicon.glyphicon-edit
			div.container.well.well-sm(style="width:95%; float:right;")
				- var total = 0;
				each service, i in services
					- total = total + service.price;
					- var servicecomments = service.comments.replace(/\n/g, '<br>');	
					div.row																	
						div.col-sm-2 
							div(style="float:left;") #{service.service}
						div.col-sm-2
							div(style="float:right;") $ #{service.price}.00
						div.col-sm-1
						div.col-sm-5(style="overflow: auto;") !{servicecomments}						
						div.col-sm-1
							button.deleteservice.btn.btn-primary.btn-md.pull-right(id=service._id, event=event._id data-toggle="tooltip" data-placement="bottom" title="Delete this Record")
								span.glyphicon.glyphicon-remove(style="color: #fe6666;")
						div.col-sm-1
							button.editservice.btn.btn-primary.btn-md.pull-right(id=service._id data-toggle="tooltip" data-placement="bottom" title="Edit this Record")
								span.glyphicon.glyphicon-edit
					hr(style='border-bottom: 1px solid #d0d0d0')						
				div.row
					div.col-sm-2
						div(style="font-weight:bold;") TOTAL: 
					div.col-sm-2						
						div(style="float:right; font-weight:bold;") $ #{total}.00	
					div.col-sm-1.col-sm-offset-7
						button.newservice.btn.btn-primary.btn-md.pull-right(onclick='NewService("#{event._id}");' data-toggle="tooltip" data-placement="bottom" title="Add new Record to this Visit")
								span.glyphicon.glyphicon-plus-sign
				br/
				


			//MODAL: EDIT SERVICE
			div.modal.container-wellfade(id="ModalService" tabindex="-1" role="dialog" aria-labelledby="ModalServiceLabel" aria-hidden="true")
				div.modal-dialog(style="width: 80%; margin: 10% 10% 10% 10%;")
					div.modal-content
						div.modal-header
							button.close(type="button", data-dismiss="modal" aria-hidden="true") &times
							h4.modal-title(id="ModalServiceLabel")
						div.modal-body
							div.container.well(style="width:100%;")
								div.row
									div.col-sm-3
										//input.form-control(id="serviceService", type="text", name="service")	
										select#services.selectpicker.show-menu-arrow(data-size='auto')
											option NOT SELECTED
											option BROWS
											option COLOR
											option CONSULTATION
											option CUP STREAKS
											option FOIL STREAKS
											option HAIRCUT
											option LASHES
											option PRODUCTS
											option ROOTS
											option STYLE
											option TIPS
											option TONER
											option TREATMENT
											option TRIM
									div.col-sm-2
										input.form-control(id="priceService", type="text", name="price")		
									div.col-sm-7(style="overflow: auto;")	
										textarea.form-control(id="commentsService", type="text", name="comments", style="overflow: auto;") 
						div.modal-footer
							button#cancel.btn.btn-default(type="button", data-dismiss="modal") Cancel
							button.saveservice.btn.btn-primary(type="button", onclick='SaveService("#{event._id}");') Save changes

			//MODAL: EDIT EVENT//
			div.modal.container-wellfade(id="ModalEvent" tabindex="-1" role="dialog" aria-labelledby="ModalEventLabel" aria-hidden="true" )
				div.modal-dialog(style="width: 80%; margin: 10% 10% 10% 10%;")
					div.modal-content
						div.modal-header
							button.close(type="button", data-dismiss="modal" aria-hidden="true") &times
							h4.modal-title(id="ModalEventLabel")
						div.modal-body(style="width: 100%;")
							div.container.well(style="width:100%;")
								div.row(style="vertical-align: middle;")										
									
									div.col-sm-3
										select#clients.selectpicker(data-live-search="true" data-size="auto")
											
									div.col-sm-3
										input.form-control(id="textEvent", type="text", name="text", value="#{event.text}")
									div.col-sm-6(style="overflow: auto;") 
										textarea.form-control(id="commentsEvent", type="html", name="comments", style="overflow: auto;") !{event.comments}
						div.modal-footer
							button#cancel.btn.btn-default(type="button", data-dismiss="modal") Cancel
							button.saveevent.btn.btn-primary(type="button", onclick='SaveEvent("#{event._id}");') Save changes